<section class="phx-hero">
  <h2>Match <%= @match_id %></h2>
  <h3>Away Score <%= @score.away %></h3>
  <h3>Home Score <%= @score.home %></h3>
  <button type="button" phx-click="score-away">Away Score</button>
  <button type="button" phx-click="score-home">Home Score</button>
</section>
